
{% load bootstrap4 %}


{% block content %}
    <div class="container">
        {% if comment_list %}
            <ul>
            {% for comment in comment_list %}
                <li>작성자 :{{comment.author}}</li>
                <li>{{comment.comment}}</li>
                {% if request.user == comment.author %}
                <a class="btn btn-primary" href="{% url 'instagram:comment_edit' comment.pk %}">수정</a>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="container">
    {% include "form.html" with submit_label="코멘트 저장" %}
    </div>
{% endblock %}