{% load bootstrap4 %} {% block content %}
<div class="container">
    {% if comment_list %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for comment in comment_list %}
        <div class="col">
            <div>작성자 :{{comment.author}}</div>
            <div>{{comment.comment}}</div>
            {% if request.user == comment.author %}
            <div>
                    <input type="hidden" name="pk" value="{{ comment.pk }}"/>
                    <button class="btn btn-primary comment_edit" name="{{ comment.pk }}" type="submit">댓글수정</button>
            </div>
        </div>

        {% endif %} {% endfor %}
    </div>
    {% endif %}
</div>
<div class="container">
    {% if comment_edit_form %}
        {% include "instagram/form.html" with submit_label="코멘트 수정" %}
    {% else %}
        {% include "form.html" with submit_label="코멘트 저장" %}
    {% endif %}
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

    $(".comment_edit").click(function () {
        var pk = $(this).attr('name')

        $.ajax({
            type: "GET",
            url: "{% url 'instagram:comment_edit' post.pk %}",
            data: { 'pk': pk },
            dataType: "json",
            success: function (response) {
                alert(response)
            },
            error: function (request, status, error) {
            alert("실패")
            },
        });
    });

</script>
