{% extends "base.html" %}

{% block content %}
<div class="container-xxl">
    <div class="container">
        <div class="card text-center">
            {% if post.photo %}
            <img src="{{ post.photo.url }}" class="rounded mx-auto d-block" alt="post_photo" style="width:25%">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="38%" y="50%" fill="#eceeef" dy=".3em">이미지 없음</text>
            </svg>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.author }}</h5>
                <p class="card-text">{{ post.message }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>

        </div>
        <div class="container mt-3 text-end">
            <a href="{% url 'instagram:post_update' post.id %}" class="btn btn-primary">포스팅 수정</a>
            <a href="{% url 'instagram:post_delete' post.id %}" class="btn btn-primary">포스팅 삭제</a>
            {% if request.user != post.author %}
                {% if post.like_user != request.user %}
                    <a href="{% url 'instagram:post_like' post.id %}" class="btn btn-primary">포스팅 좋아요</a>
                {% else %}
                    <a href="{% url 'instagram:post_unlike' post.id %}" class="btn btn-primary">좋아요 취소</a>
                {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="container">
        <div class="container">댓글</div>
        {% include 'instagram/comment.html' %}
    </div>

</div>

{% endblock %}


